.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#scatterplot circle{
  fill: none;
  stroke-width: 3;
  /*stroke : red;*/
  pointer-events: all;
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 200px; height: 100px;
    background: black;
    border: 1px white;
    color: white;
    margin-top: 5px;
    pointer-events: none;
}

.legend rect{
  fill:white;
  stroke:black;
  opacity:0.8;}

.pos_fixed {
    position: fixed;
    top: 40%;
    right: 0;
    width: 20px;
    /*border: 3px solid #73AD21;*/
    font-size:3em;
}

.pos_fixed a:hover{
  color: red;
}
